<h1>All Drinks</h1>

  <% @drinks.each do |drink| %>
    
    Drink Name: <%= drink.name %> <br>
    Drink Type: <%= drink.type %> <br>
    Drink Sub-Type: <%= drink.sub_type %> <br>
    <br>

    <% end %>

