<%= form_for (@location) do |f| %>

 <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name %>

  </div>

  <%= f.submit "Post", class: "btn btn-primary" %>
  
  <% end %>

  <div id = "locationResult">
  <h2 id="locationName"></h2>
  <br>
</div>